* {
  margin: 0;
  padding: 0;
}

.content-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-section {
  margin-top: 15px;
  padding: 10px;
  width: 90vw;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 3px 3px 12px 3px gray;
}
.card-category {
  display: flex;
  justify-content: space-between;
  /* width: 9rem; */
}

.card-category > * {
  padding: 0px 5px 0px 5px;
  margin: 0px 2px 0px 2px;
  border: 1px solid lightblue;
  border-radius: 5px;
}

.card-detail > * {
  margin: 0px 5px 5px 5px;
}

.card-detail > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-name {
  display: flex;
  justify-content: center;
}
.nav-item {
  margin-right: 5px;
  margin-top: 5px;
}

.modal-window {
  margin-top: 15px;
  padding: 10px;
  width: 90vw;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 3px 3px 12px 3px gray;
  /* display: none; */
}
.addmovies-modal {
  display: flex;
  justify-content: center;
}

.user {
  padding-top: 4px;
  color: rgb(99, 42, 165);
}
/* #modal-alert-error {
  margin-bottom: -15px;
} */

.hide {
  display: none;
}
.visible {
  display: contents;
}
