* {
  margin: 0;
  padding: 0;
}

.content-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-section {
  margin: 15px;
  padding: 10px;
  width: 50rem;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 3px 3px 12px 3px gray;
}
.card-category {
  display: flex;
  justify-content: left;
}

.card-category > * {
  padding: 0px 10px 0px 10px;
  margin: 0px 26px 0px 13px;
  border: 1px solid lightblue;
  border-radius: 5px;
}

.card-detail > * {
  margin: 0px 5px 5px 5px;
}

.card-detail > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-name {
  display: flex;
  justify-content: center;
}
.nav-item {
  margin-right: 5px;
  margin-top: 5px;
}
